

body {
    margin: 0;
    padding: 0px;
  

}

.navbar-brand {
    margin: 0;
    width: 100%;
    font-weight: 800px;
    font-family: Roboto;
    color:rgb(120, 162, 240);
    text-transform: uppercase;
    font-size: 2em;
    text-align: left;
    padding-left: 10%;
   
   
   
}

.navbar-brand:hover{
    color: #1f93ff;
}

.image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        align-self: center;
        width:50%;
        padding-top: 50px;
    }

    

.form-inline {
    display: flex;
    justify-content: center;
    size:50;
    padding-top: 30px;
}

.publisher {
    display: flex;
    justify-content: center;
    padding-top: 90px;
}
.publisher1 {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
      
    
      

      
      